################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZzaDashboard/.vs/ZzaDashboard/v15
/ZzaDashboard/packages/EntityFramework.6.1.3
/ZzaDashboard/Zza.Data/bin/Debug
/ZzaDashboard/Zza.Data/obj
/ZzaDashboard/ZzaDashboard/bin/Debug
/ZzaDashboard/ZzaDashboard/obj
